.header {
  width: 100%;
  height: 40px;
  background-color: #b4cfdb;
}

.header h1 {
  margin-left: 5px;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.characters > * {
  flex-basis: 20%;
}

.error {
  margin: 10px;
  text-align: center;
}
